* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
body{
  background-image: url(./assets/img/bagrount-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

ul,li{
  list-style-type: none;
}
ol {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding:  20px; */
}